 

.myClass{
  --rdp-accent-color: red !important;
  --rdp-background-color: gray;

  --rdp-outline	:3px solid #ffffff !important;
  --rdp-outline-selected	:3px solid #ffffff !important;
  --rdp-cell-size	:35px !important;
  --rdp-accent-color	: teal !important;
  --rdp-background-color	: #818285 !important
}

.mySwiper{
  width: 100%;
  height: 100%;
  background: #000;
}
/* 1A202C */

.scale-animation {
  animation: scaleUpDown 2s ease-in-out infinite alternate; /* Adjust animation duration and easing as needed */
}

@keyframes scaleUpDown {
  0% {
    transform: scale(1); /* Start at normal size */
  }
  100% {
    transform: scale(1.05); /* End at 110% size */
  }
}

.custom-cursor {
  cursor: url('./assets/cursors/heart_with_ribbon.svg') , auto;
  /* Replace 'path/to/your/custom-cursor.png' with the actual path to your image file */
}


/* Add this CSS to your main CSS file */
.flip-container {
  perspective: 1000px;
}

.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flipper {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

/* flip ends */

/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
  border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Scrollbar color */
  border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Scrollbar color when hovered */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* Width of the scrollbar */
  scrollbar-color: #888 #f1f1f1; /* Scrollbar color and track color */
}

/* For Internet Explorer and Edge */
body {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

::-ms-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-ms-scrollbar-track {
  background: #f1f1f1; /* Track color */
  border-radius: 10px; /* Rounded corners */
}

::-ms-scrollbar-thumb {
  background: #888; /* Scrollbar color */
  border-radius: 10px; /* Rounded corners */
}

::-ms-scrollbar-thumb:hover {
  background: #555; /* Scrollbar color when hovered */
}


.responsive-map {
  width: 100%;
  border: 0;
  border-radius: 10px;
}

@media (max-width: 576px) {
  .responsive-map {
    height: 250px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .responsive-map {
    height: 350px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .responsive-map {
    height: 400px;
  }
}

@media (min-width: 993px) {
  .responsive-map {
    height: 420px;
  }
}


@font-face {
  font-family: 'Dancing Script';
  src: url('../public/DancingScript-VariableFont_wght.ttf');
}

.dancing_Script{
  font-family: 'Dancing Script';
}


@font-face {
  font-family: 'Playball';
  src: url('../public/Playball-Regular.ttf');
}

.playball_Script{
  font-family: 'Playball';
}

@font-face {
  font-family: 'Metal';
  src: url('../public/Metal-Regular.ttf');
}

.metal_Script{
  font-family: 'Metal';
}

@font-face {
  font-family: 'Source Serif 4';
  src: url('../public/SourceSerif4-VariableFont_opsz\,wght.ttf');
}

.sourceSerif_Script{
  font-family: 'Source Serif 4';
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.pulse-animation {
  animation: pulse 1.5s infinite;
}
